<body>

<!-- jumbotron to provide info about page -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find out how much your pet should eat</h1>
    <p class="lead">Enter your pet's details and select their Hills food</p>
    <ul>
    <li> List, add, and delete health issues (which will also update the petProduct table (FK)  </li>
    <li> Update a health issue for a species</li>
    <li> Search by health issue </li>
  </ul>
  </div>
</div>


<h3>Add Health Issues:</h3>
<form id="addHealthIssue" action="/healthIssues" method="post">
    Health Issue: <input type="text" name="healthIssue"><br>
    Species: <input type="text" name="species"><br>
    Recommended % Canned: <input type="decimal" name="recPercentCanned"><br>
    Recommended % Dry: <input type="decimal" name="recPercentDry"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='searchHealthIssues' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search healthIssues that include:</label>
    <input id='healthIssueString' type='text' name='healthIssueString' value=''>
    <input type="button" value="Search" onclick="searchHealthIssues()">
</form>

<h3>Current Health Issues:</h3>
<table style="width:700px">
    <thead>
        <tr style="border:1px solid black">
            <th>Health Issue ID</th>
            <th>Health Issue</th> 
            <th>For Species</th> 
            <th>Recommended % Canned</th> 
            <th>Recommended % Dry</th> 
        </tr>
    </thead> 
    <tbody>
        {{#each healthIssues}} 
        <tr style="border:1px solid black"> 
            <td>{{healthIssueID}}</td>
            <td>{{healthIssue}}</td> 
            <td>{{species}}</td> 
            <td>{{recPercentCanned}}</td> 
            <td>{{recPercentDry}}</td> 
            <td><button onclick="deleteHealthIssue({{healthIssueID}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

</body>