<body>

<!-- jumbotron to provide info about page -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find out how much your pet should eat</h1>
    <p class="lead">This page will:</p>
    <ul>
    <li> List, add, and delete pets (which will update the clientPet tables) </li>
    <li> Search pets by pet name </li>
  </ul>
  </div>
</div>

<h3>Add Pet:</h3>
<form id="addPet" action="/pets" method="post">
    Pet Name: <input type="text" name="petName"><br>
    Species: <input type="text" name="species"><br>
    Weight: <input type="text" name="weight"><br>
    Caloric Goal: <input type="text" name="caloricGoal"><br>
    Health Issue: <select name="healthIssue"> 
        {{#each healthIssues}}
        <option value="{{healthIssueID}}">{{healthIssue}} (for {{species}})</option>
        {{/each}}
    </select><br>
    Percent Canned: <input type="text" name="percentCanned"><br>
    Percent Dry: <input type="text" name="percentDry"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='searchPets' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search Pets by pet name:</label>
    <input id='petNameString' type='text' name='petNameString' value=''>
    <input type="button" value="Search" onclick="searchPetsByPetName()">
</form>


<h3>Current Pets:</h3>
<table style="width:1000px">
    <thead>
        <tr style="border:1px solid black">
            <th>Pet ID</th>
            <th>Pet Name</th> 
            <th>Species</th> 
            <th>Weight</th>
            <th>Caloric Goal</th>
            <th>Health Issue</th>
            <th>percentCanned</th>
            <th>PercentDry</th>
            <th>Delete</th>
        </tr>
    </thead> 
    <tbody>
        {{#each pets}} 
        <tr style="border:1px solid black"> 
            <td>{{petID}}</td>
            <td>{{petName}}</td> 
            <td>{{species}}</td> 
            <td>{{weight}}</td>
            <td>{{caloricGoal}}</td>
            <td>{{healthIssue}}</td>
            <td>{{percentCanned}}</td>
            <td>{{percentDry}}</td>
            <td><button onclick="deletePet({{petID}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 

</body>