<body>

<!-- jumbotron to provide info about page -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Find out how much your pet should eat</h1>
    <p class="lead">This page will:</p>
    <ul>
    <li> List, add, and delete products </li>
    <li> Search products by brand name </li>
  </ul>
  </div>
</div>

<h3>Add Products:</h3>
<form id="addProduct" action="/products" method="post">
    Health Issue: <input type="text" name="healthIssue"><br>
    For Species: <input type="text" name="forSpecies"><br>
    Brand Name: <input type="text" name="brandName"><br>
    Food Name: <input type="text" name="foodName"><br>
    Food Type: <input type="text" name="foodType"><br>
    Unit: <input type="text" name="unit"><br>
    Calories Per Unit: <input type="number" name="calPerUnit"><br>
    <input type="submit" value="Submit">
 </form>
<br/>

<form id='searchProducts' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search products by brand name:</label>
    <input id='brandNameString' type='text' name='brandNameString' value=''>
    <input type="button" value="Search" onclick="searchProductsByBrandName()">
</form>

<h3>Current Products:</h3>
<table style="width:900px">
    <thead>
        <tr style="border:1px solid black">
            <th>Health Issue</th>
            <th>For Species</th> 
            <th>Brand Name</th> 
            <th>Food Name</th>
            <th>Food Type</th>
            <th>Unit</th>
            <th>Cal Per Unit</th>
        </tr>
    </thead> 
    <tbody>
        {{#each products}} 
        <tr style="border:1px solid black"> 
            <td>{{healthIssue}}</td>
            <td>{{forSpecies}}</td> 
            <td>{{brandName}}</td> 
            <td>{{foodName}}</td> 
            <td>{{foodType}}</td> 
            <td>{{unit}}</td> 
            <td>{{calPerUnit}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 














<!-- card w/ form embedded to collect pet/food info - informed by Bootstrap documentation -->
{{!-- commenting the rest of this out for now

<div class="card">
    <div class="card-header bg-dark text-light text-center">
      Your Pet's Details
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80" class="card-img" alt="cat on stairs">
      <cite>Photo by Alexander London on Unsplash</cite>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">
            <div class="container" id="pet-info">
            <form method="POST">
                <fieldset>
                    <label>Name: <input type="text" name="petName"></label>
                    <br />
                    <!-- populate lists of food below after user selects species -->
                    <label>Species: <input type="radio" name="species" value="cat">Cat </label>
                    <label><input type="radio" name="species" value="dog">Dog </label>
                    <br />
                    <!-- weight will be multiplied by 25 to get calorie goal -->
                    <label>Weight (lbs): <input type="number" name="weight"></label>
                    <br />
                    <label>Calorie Goal (in kcal): <input type="number" name="calorieGoal"></label>
                    <br />
                    <label>Dry Food kcal/cup: <input type="number" name="dryCal"></label>
                    <br />
                    <label>Wet Food kcal/can: <input type="number" name="wetCal"></label>
                    <br />
                    <input action="/otc method="POST" type="submit" value="Submit" id="foodSubmit">
                </fieldset>
                </form>
                </fieldset>
            </form>
            </div>
        </p>
      </div>
    </div>
  </div>
</div>



<br />

<div class="container-fluid">
<!-- card w/ results - informed by Bootstrap documentation -->
<!-- static and blank right now, but will be dynamic in the future -->
  <div class="card text-center" id="results">
    <div class="card-header bg-dark text-light">
        Results for Your Pet
    </div>
    <div class="row no-gutters">
      <div class="col-md-12">
          <blockquote class="blockquote mb-0">
              <br />
              <h5 class="font-weight-bold">100% dry: </h5>
              <p>___ cups per day</p>
              <h5 class="font-weight-bold">75% dry, 25% wet: </h5>
              <p>___ cups per day</p>
              <p>___ cans per day</p>
              <h5 class="font-weight-bold">50% dry, 50% wet: </h5>
              <p>___ cups per day</p>
              <p>___ cans per day</p>
              <h5 class="font-weight-bold">25% dry, 75% wet: </h5>
              <p>___ cups per day</p>
              <p>___ cans per day</p>
              <h5 class="font-weight-bold">100% wet</h5>
              <p>___ cans per day</p>
              <br />
              <footer class="blockquote-footer">* Weight-based calculations are estimates based on feeding 25 kcal per pound per day. 
          Your pet's needs may be different. Consult with your veterinarian for a specific calorie goal.</footer>
          </blockquote>
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
<!-- download blank results page -->
<!-- eventually this will create a personalized pdf w/ above results -->
<button type="button" class="btn btn-secondary align-center">
  <a id="dwnld-btn" class="text-light" href="https:/colburnh.github.io/results.pdf" target="_blank" download>Download Results</a>
</button>
  
  <br />
  <br />

<div class="container-fluid">

    <div class="card text-center" id="results">
      <div class="card-header bg-dark text-light">
          Additional Information
      </div>
      <div class="row no-gutters">
        <div class="col-md-12">

<!-- unordered list of links -->
<h3>The American Veterinary Medical Association (AVMA) and Food & Drug Administration recommend avoiding raw and grain-free foods</h3>
<ul style="list-style-type: none;">
    <li>
        <a href="https://www.avma.org/javma-news/2019-10-01/fda-searching-possible-links-between-canine-diets-heart-disease">
        AVMA on grain-free food</a>
    </li>
    <li>
        <a href="https://www.fda.gov/animal-veterinary/outbreaks-and-advisories/fda-investigation-potential-link-between-certain-diets-and-canine-dilated-cardiomyopathy">
        FDA on grain-free food</a>
    </li>

    <li>
        <a href="https://www.avma.org/resources-tools/avma-policies/raw-or-undercooked-animal-source-protein-cat-and-dog-diets">
        AVMA on raw food</a>
    </li>
    <li>
        <a href="https://www.fda.gov/animal-veterinary/animal-health-literacy/get-facts-raw-pet-food-diets-can-be-dangerous-you-and-your-pet">
        FDA on raw food</a>
    </li>
</ul>
</div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{{!-- <script src="otc.js"></script> }} --}}

</body>